<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lender Home</title>
</head>

<body>
    <h1>DriveHub Lender Home Page for User ID: {{lender_id}}</h1>
    <a href="/lender/{{lender_id}}/add_car">Add Car</a>
    <br>
    <a href="/lender/{{lender_id}}/update_car">Update Car Status</a>
    <br>
    <a href="/lender/{{lender_id}}/car_list">View Your Lent Cars</a>
    <br>
    <a href="/lender/{{lender_id}}/get_car_unavailable_dates">Get Car Unavailable Dates</a>
</body>

</html>